[submodule "lib/asio"]
	path = lib/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "lib/json11"]
	path = lib/json11
	url = https://github.com/dropbox/json11
[submodule "lib/fcgisrv"]
	path = lib/fcgisrv
	url = https://github.com/Ezbob/fcgisrv.git
